body{
    background-color: #dff3ff;
    text-transform: capitalize;
}
header{
    text-align: center;
    background-color: #0077b6;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;

}
.section1{
    text-align: center;
    background-color:#f0faff ;
    border: solid 2px #a9c3dd;
    width: 1100px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    overflow-y: scroll;
}
.section1 h2{
    border: solid 2px #a9c3dd ;
color: #6885b5;
text-align: start;
margin-top: 2px;
}
h3{color: #0077b6;}
.section2{
    background-color: white;
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}
.project{
    border: 1px solid #0077b6;
    border-radius: 4px;
    padding: 20px 10px;
    background-color: #ffff;
    text-align: center;
}
.project img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
.project p{
    display: block;
    line-height: 1.5;
    padding: 0px 5px;
    color: #666;
}
.project a{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.github-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.section2 h2, .section2 h3 {
    color: #007bff; 
    margin-bottom: 20px;
    font-weight: 500;
}

footer{
    background-color: rebeccapurple;
    width: 100%;
    height: 25px;
}
footer h6{
    margin:0;
    padding: 5px;
    color: white;
    font-size:bold;
    text-align: center;
}



